

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

* {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background: hotpink;
    margin: 15px;
    height: 50px;

}
.btn-1{
    background: #da2c46;
    color: #fff;
    border: none;
    font-weight: 800;
    padding: 10px 28px;
}

.btn-2{
    background: #da2c46;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 20px 28px;
}

.btn-3{
    background: #da2c46;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 10px 28px;
}